<a href="https://colab.research.google.com/github/HimashaJayasooriya/Quiz/blob/main/Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

In [8]:
import pandas as pd

# Load the Excel file, specifying the correct header row (row index 2, since pandas uses 0-based indexing)
file_path = '/content/sagatave_eksamenam.xlsx'
df = pd.read_excel(file_path, sheet_name='Lapa_0', header=2)  # Adjust header row if needed

# Verify column names (print them to debug)
print("Columns in the DataFrame:", df.columns.tolist())

# Filter records where:
# - Address column (adjust name if needed, e.g., 'Adresse' or 'Address') starts with "Ain"
# - Quantity column ('Skaits') is less than 40
filtered_df = df[
    df['Adrese'].str.startswith('Ain', na=False)  # Use the exact column name from df.columns
    & (df['Skaits'] < 40)
]

# Count matching records
count = len(filtered_df)
print(f"Number of records where address starts with 'Ain' and quantity < 40: {count}")

Columns in the DataFrame: ['Nr', 'Dati', 'Klienta vārds', 'Adrese', 'Pilsēta', 'Klients', 'Atbildīga persona', 'Prioritāte', 'Produkts', 'Piegādes datums', 'Cena', 'Skaits', 'Piegādes cena', 'Kopā']
Number of records where address starts with 'Ain' and quantity < 40: 63

Question 2

In [9]:
# Convert 'Piegādes datums' to datetime (if not already)
df['Piegādes datums'] = pd.to_datetime(df['Piegādes datums'])

# Filter records where:
# - Priority is 'High' (case-sensitive, adjust if needed)
# - Delivery year is 2015
filtered_df = df[
    (df['Prioritāte'] == 'High') &
    (df['Piegādes datums'].dt.year == 2015)
]

# Count matching records
count = len(filtered_df)
print(f"Number of High-priority entries delivered in 2015: {count}")

Number of High-priority entries delivered in 2015: 72

Question 3

In [10]:
# Filter the DataFrame
filtered_df = df[
    (df['Adrese'] == 'Adulienas iela') &
    (df['Pilsēta'].isin(['Valmiera', 'Saulkrasti']))
]

# Count the occurrences
count = len(filtered_df)

print(f"The address 'Adulienas iela' appears {count} times in Valmiera or Saulkrasti.")

The address 'Adulienas iela' appears 29 times in Valmiera or Saulkrasti.

Question 4

In [11]:
import math
# Filter products containing 'LaserJet' (case insensitive)
laserjet_products = df[df['Produkts'].str.contains('LaserJet', case=False, na=False)]

# Calculate average price and round down
average_price = laserjet_products['Cena'].mean()
average_price_floor = math.floor(average_price)

print(f"The average price for LaserJet products is: {average_price_floor}")

The average price for LaserJet products is: 377

Question 5

In [12]:
# Filter for:
# - Corporate clients (Korporatīvais)
# - Product count between 40-50 (inclusive)
filtered_df = df[
    (df['Klients'] == 'Korporatīvais') &
    (df['Skaits'] >= 40) &
    (df['Skaits'] <= 50)
]

# Calculate total sum of 'Kopā' and round down
total_sum = filtered_df['Kopā'].sum()
total_sum_floor = math.floor(total_sum)

print(f"Total sum for corporate clients with 40-50 products: {total_sum_floor}")

Total sum for corporate clients with 40-50 products: 105514